automation/n8n-workflows/render-notify.json
{
  "name": "BrandFlow - Render Notify",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "brandflow-render-complete",
        "method": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn [{\n  json: {\n    renderId: body.renderId,\n    userId: body.userId,\n    fileName: body.fileName,\n    duration: body.duration || 0,\n    minioBucket: body.minioBucket || 'brandflow-renders',\n    minioFilePath: body.minioFilePath || 'renders/' + body.renderId + '.mp4',\n    userDriveToken: body.userDriveToken,\n    driveFolderId: body.driveFolderId || null,\n    apiCallbackUrl: body.apiCallbackUrl || null,\n    notificationEmail: body.notificationEmail || null\n  }\n}];"
      },
      "id": "parse-data",
      "name": "Parse Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "bucket": "={{ $json.minioBucket }}",
        "fileKey": "={{ $json.minioFilePath }}"
      },
      "id": "download-render",
      "name": "Download from MinIO",
      "type": "n8n-nodes-base.s3",
      "position": [480, 300],
      "credentials": {
        "s3": {
          "id": "1",
          "name": "MinIO Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "requestMethod": "POST",
        "responseFormat": "json",
        "sendHeaders": true,
        "headerParametersJson": "={\n  \"Authorization\": \"Bearer {{ $json.userDriveToken }}\"\n}",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "options": {}
      },
      "id": "upload-drive",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.httpRequest",
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "delete",
        "bucket": "={{ $json.minioBucket }}",
        "fileKey": "={{ $json.minioFilePath }}"
      },
      "id": "cleanup-minio",
      "name": "Delete from MinIO",
      "type": "n8n-nodes-base.s3",
      "position": [960, 300],
      "credentials": {
        "s3": {
          "id": "1",
          "name": "MinIO Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst notificationEmail = data.notificationEmail || 'user-' + data.userId + '@brandflow.ge';\nconst fileName = data.fileName || 'render.mp4';\n\nreturn [{\n  json: {\n    email: notificationEmail,\n    fileName: fileName,\n    duration: data.duration,\n    userId: data.userId,\n    renderId: data.renderId\n  }\n}];"
      },
      "id": "prepare-notification",
      "name": "Prepare Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "to": "={{ $json.email }}",
        "subject": "Your video is ready!",
        "body": "={{ 'Your video \"' + $json.fileName + '\" has been created and saved to your Google Drive.\\n\\nRender time: ' + $json.duration + ' seconds' }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.sendEmail",
      "position": [1440, 300]
    },
    {
      "parameters": {
        "respondWith": {},
        "respondWithSuccess": true,
        "responseBody": {
          "success": true,
          "message": "Render notification processed"
        }
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondtowebhook",
      "position": [1680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Data": {
      "main": [
        [
          {
            "node": "Download from MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from MinIO": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Delete from MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from MinIO": {
      "main": [
        [
          {
            "node": "Prepare Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["video", "render", "notification"],
  "meta": {
    "templateCredsSetupComplete": false
  }
}